JoinFS/.vs
JoinFS/bin
JoinFS/obj

JoinFS/FS2024/bin
JoinFS/FS2024/obj
JoinFS/FS2024/Setup/bin
JoinFS/FS2024/Setup/obj

JoinFS/FS2020/bin
JoinFS/FS2020/obj
JoinFS/FS2020/Setup/bin
JoinFS/FS2020/Setup/obj

JoinFS/FSX/bin
JoinFS/FSX/obj
JoinFS/FSX/Setup/bin
JoinFS/FSX/Setup/obj

JoinFS/P3DV4/bin
JoinFS/P3DV4/obj
JoinFS/P3DV4/Setup/bin
JoinFS/P3DV4/Setup/obj

JoinFS/XPLANE/bin
JoinFS/XPLANE/obj
JoinFS/XPLANE/Setup/bin
JoinFS/XPLANE/Setup/obj

JoinFS/SERVER/bin
JoinFS/SERVER/obj
JoinFS/SERVER/Setup/bin
JoinFS/SERVER/Setup/obj

JoinFS/CONSOLE
